.appointment-sec {
    .appointment-wrapper {
        padding: clamp(24px, 1.667vw, 64px) clamp(18px, 1.25vw, 48px);
        border-radius: $br-24;
        border: 1px solid $accent-2;
        display: none;

        .form-topbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $gap-24;

            .num-icon {
                width: clamp(18px, 1.25vw, 48px);
                height: clamp(18px, 1.25vw, 48px);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $light-gray;
                border-radius: 50%;
            }
        }

        .construction-type {
            .label-wrapper {
                display: flex;
                align-items: center;
                gap: $gap-12;
                flex-wrap: wrap;
                row-gap: 12px;

                .input-label {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    border-radius: $br-8;
                    border: 1px solid $light-gray;
                    cursor: pointer;
                    transition: $transition;
                }

                .input-label:hover {
                    background-color: #e0e0e0;
                }

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked+.input-label {
                    background-color: transparent;
                    font-weight: bold;
                    border: 1px solid $accent-1;

                    p {
                        color: $accent-1 !important;
                    }
                }
            }

            .box-1 {
                position: relative;
                padding: clamp(18px, 1.25vw, 48px);
                border: 1px solid #45474F;
                border-radius: 8px;

                input {
                    display: none;
                }

                .plan {
                    cursor: pointer;
                    width: 100%;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                    }

                    .plan-content {
                        display: flex;
                        gap: 16px;
                        align-items: start;
                        position: relative;
                        transition: ease-in 0.3s;

                        &:after {
                            content: "";
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            right: 20px;
                            top: 20px;
                            border-radius: 50%;
                            border: 3px solid #fff;
                            box-shadow: 0px 0px 0px 2px #ff5733;
                            transform: translate(-50%);
                        }
                    }

                    input[type="radio"]:checked+.plan-content {
                        &:after {
                            background: #ff5733;
                            border: 5px solid #fff;
                            box-shadow: 0px 0px 0px 2px #ff5733;
                        }
                    }
                }
            }
        }

        .construction-details {

            .label-wrapper {
                display: flex;
                align-items: center;
                gap: $gap-12;
                flex-wrap: wrap;
                row-gap: 12px;

                .input-label {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    border-radius: $br-8;
                    border: 1px solid $light-gray;
                    cursor: pointer;
                    transition: $transition;
                }

                .input-label:hover {
                    background-color: #e0e0e0;
                }

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked+.input-label {
                    background-color: transparent;
                    font-weight: bold;
                    border: 1px solid $accent-1;

                    p {
                        color: $accent-1 !important;
                    }
                }
            }

            .location-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid $light-gray;
                padding: $gap-12 $gap-16;
                border-radius: $br-12;

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $light-gray;

                    &:focus {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: $light-gray;
                    }

                    &::placeholder {
                        color: $light-gray;
                    }
                }
            }

            .size-label {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: $gap-12 $gap-16;
                border-radius: $br-12;
                background-color: $accent-1;
            }
        }
    }
}


.radio-toggle {
    input[type="radio"] {
        display: none;
    }

    .plan {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;

        .circle {
            width: 24px;
            height: 24px;
            border: 2px solid $accent-1;
            border-radius: 24px;
            position: relative;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $accent-1;
                opacity: 0;
                transition: opacity 0.1s ease-in;
            }
        }

        .title-text {
            transition: color 0.2s ease-in;
        }
    }

    input:checked~.plan .circle::before {
        opacity: 1;
    }

    input:checked~.plan .title-text {
        color: $accent-1 !important;
    }
}


// ====================================================== //
// =================== Form Wizard =============== //
// ====================================================== // 


.form-wizard {
    padding: clamp(24px, 1.667vw, 64px) clamp(18px, 1.25vw, 48px);
    border-radius: $br-24;
    border: 1px solid $accent-2;

    .form-wizard-header {
        text-align: center;
    }

    .construction-type {
        .label-wrapper {
            display: flex;
            align-items: center;
            gap: $gap-12;
            flex-wrap: wrap;
            row-gap: 12px;

            .input-label {
                display: flex;
                padding: 8px 12px;
                justify-content: center;
                align-items: center;
                border-radius: $br-8;
                border: 1px solid $light-gray;
                cursor: pointer;
                transition: $transition;
            }

            .input-label:hover {
                background-color: #e0e0e0;
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked+.input-label {
                background-color: transparent;
                border: 1px solid $accent-1;
                color: $accent-1 !important;

                p {
                    color: $accent-1 !important;
                }
            }
        }

        .box-1 {
            position: relative;
            padding: clamp(18px, 1.25vw, 48px);
            border: 1px solid #45474F;
            border-radius: 8px;

            input {
                display: none;
            }

            .plan {
                cursor: pointer;
                width: 100%;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                }

                .plan-content {
                    display: flex;
                    gap: 16px;
                    align-items: start;
                    position: relative;
                    transition: ease-in 0.3s;

                    &:after {
                        content: "";
                        position: absolute;
                        height: 24px;
                        width: 24px;
                        right: 20px;
                        top: 20px;
                        border-radius: 50%;
                        border: 3px solid #fff;
                        box-shadow: 0px 0px 0px 2px #ff5733;
                        transform: translate(-50%);
                    }
                }

                input[type="radio"]:checked+.plan-content {
                    &:after {
                        background: #ff5733;
                        border: 5px solid #fff;
                        box-shadow: 0px 0px 0px 2px #ff5733;
                    }
                }
            }
        }
    }

    .construction-details {

        .label-wrapper {
            display: flex;
            align-items: center;
            gap: $gap-12;
            flex-wrap: wrap;
            row-gap: 12px;

            .input-label {
                display: flex;
                padding: 8px 12px;
                justify-content: center;
                align-items: center;
                border-radius: $br-8;
                border: 1px solid $light-gray;
                cursor: pointer;
                transition: $transition;
            }

            .input-label:hover {
                background-color: #e0e0e0;
            }

            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked+.input-label {
                background-color: transparent;
                color: $accent-1 !important;
                border: 1px solid $accent-1;

                p {
                    color: $accent-1 !important;
                }
            }
        }

        .location-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $light-gray;
            padding: $gap-12 $gap-16;
            border-radius: $br-12;

            input {
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: $light-gray;

                &:focus {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $light-gray;
                }

                &::placeholder {
                    color: $light-gray;
                }
            }
        }

        .size-label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: $gap-12 $gap-16;
            border-radius: $br-12;
            background-color: $accent-1;
        }
    }

    .wizard-fieldset {
        display: none;

        &.show {
            display: block;
        }
    }

    .wizard-form-error {
        display: none;
        background-color: #d70b0b;
        position: absolute;
        left: 11px;
        right: 0;
        bottom: 0;
        height: 2px;
        width: 97%;
        border-radius: $br-24;
    }

    .form-wizard-previous-btn {
        background-color: transparent;
    }

    .form-control {

        &:focus {
            box-shadow: none;
        }
    }

    .form-group {
        position: relative;
        display: flex;
        gap: 10px;
        justify-content: end;
        margin-right: 0;
        padding-right: 0;
    }

    .wizard-form-text-label {
        position: absolute;
        left: 10px;
        top: 16px;
        transition: 0.2s linear all;
    }

    .focus-input {
        .wizard-form-text-label {
            color: $accent-1;
            top: -18px;
            transition: 0.2s linear all;
            font-size: 12px;
        }
    }

    .form-wizard-steps {
        background: transparent;

        li {
            color: $light-gray;
            width: 33.333%;
            float: left;
            position: relative;
            text-align: left;

            @include media-query(767px) {
                width: 50%;
                margin-bottom: 24px;
            }

            @include media-query(530px) {
                width: 100%;
            }

            &:last-child {
                @include media-query(767px) {
                    margin-bottom: 0;
                }
            }

            .num-icon {
                padding-top: 0.104vw;
                display: inline-flex;
                flex-shrink: 0;
                width: clamp(18px, 1.25vw, 48px);
                height: clamp(18px, 1.25vw, 48px);
                align-items: center;
                justify-content: center;
                background-color: $light-gray;
                border-radius: 50%;
                position: relative;
                z-index: 1;

                &.activated {
                    background-color: $accent-1;
                }
            }
        }
    }

    .wizard-password-eye {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
    text-align: center;
}

.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}

.form-wizard .form-wizard-steps li.active,
.form-wizard .form-wizard-steps li.activated {
    color: $accent-1;
}

.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
    .num-icon {
        background-color: $accent-1;
        color: $white !important;
    }

    color: $accent-1 !important;
}

.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
    background-color: $accent-1;
    left: 50%;
    width: 50%;
    border-color: $accent-1;
}

@keyframes click-radio-wave {
    0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .wizard-content-left {
        height: auto;
    }
}

.wizard-fieldset {
    display: none;
}

.wizard-fieldset.show {
    display: block;
}