.blog-detail {
    .image-detail {
        display: flex;
        align-items: center;
        gap: $gap-12;

        .vr-line {
            width: 48px;
            height: 1px;
            background-color: $accent-1;
        }
    }

    .quote {
        display: flex;
        padding: $gap-24;
        flex-direction: column;
        align-items: flex-start;
        gap: $gap-24;
        border-radius: $br-12;
        border-left: 2px solid $accent-1;
        background: rgba(249, 99, 4, 0.10);
    }
}