.coming-soon-page {
    height: 100vh;
    display: grid;
    align-items: center;
    position: relative;

    .coming-bg {
        position: absolute;
        bottom: 0;
        right: 0;
    }



    .coming-soon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            gap: clamp(12px, 0.833vw, 32px);

            li {
                width: clamp(84px, 6.25vw, 240px);
                height: clamp(84px, 6.25vw, 240px);
                border-radius: 8px;
                background: transparent;
                border: 1px solid $accent-2;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                @include media-query(399px) {
                    width: 72px;
                    height: 72px;
                }

                h2 {
                    color: $accent-1 !important;
                }

                p {
                    color: $light-gray !important;
                }
            }
        }

    }

    .title-area {
        img {
            @include media-query(1399px) {
                width: 85%;
            }

            @include media-query(992px) {
                width: 75%;
            }

            @include media-query(499px) {
                width: 55%;
            }

            @include media-query(390px) {
                width: 50%;
            }
        }
    }

    .newsletter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newsletter-block {
        display: inline-flex;
        align-items: center;
        border-radius: $br-12;
        background-color: transparent;
        padding: clamp(12px, 0.833vw, 32px);
        border: 1px solid $light-gray;
        backdrop-filter: blur(17.5px);
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-24;
    

        @include media-query(1024px) {
            width: 53%;
        }

        @include media-query(766px) {
            width: 100%;
        }


        .news-input {
            background-color: transparent;
            color: $light-gray;
            border: none;

            &::placeholder {
                color: $light-gray;
                font-size: clamp(14px, 0.938vw, 36px);
                font-weight: 400;
                line-height: 160%;
            }

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    .newsletter {
        .coming-soon-text {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -2.07px;
        }

        .newsletter-heading {
            display: flex;
            align-items: center;
            gap: clamp(8px, 1.25vw, 40px);
        }

    }
}

.coming-soon-cd {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        gap: clamp(12px, 0.833vw, 24px);

        @include media-query(820px) {
            gap: clamp(20px, 2.927vw, 48px);
        }

        @include media-query(490px) {
            gap: clamp(70px, 14.694vw, 120px);
        }

        li {
            width: 4.557vw;
            height: 3.333vw;
            border-radius: $br-10;
            background: transparent;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: $font-primary;
                font-size: clamp(19px, 1.198vw, 27px);
                /* 23px */
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                padding: clamp(24px, 1.667vw, 64px);
                // background: $white;
                border-radius: 5px;
                margin-bottom: 8px;

                @media (max-width: 1399px) {
                    padding: 12px;
                }

                @media (max-width: 1024px) {
                    font-size: clamp(18px, 1.953vw, 24px);
                }

                @media (max-width: 768px) {
                    font-size: clamp(18px, 2.344vw, 21px);
                }

                @media (max-width: 490px) {
                    font-size: 24px;
                    padding: 20px;
                }
            }

        }
    }

}