// Faq 
.faq {
    .faq-block {
        padding-left: 0px !important;
        padding: clamp(18px, 1.25vw, 48px);
        border-bottom: 1px solid $light-gray;


        .accordion-button {
            margin: 0;
            position: relative;
            padding: 0;
            font-weight: 600;
            font-size: 23px;
            line-height: 120%;

            @media (max-width: 992px) {
                font-size: 20px;
            }

            @media (max-width: 767px) {
                font-size: 19px;
            }

            @media (max-width: 575px) {
                font-size: 18px;
            }

            &.collapsed {
                color: $accent-2 !important;
                border-radius: 0px;
                padding: 0;
                background: none;
                margin: 0;

                &::after {
                    background-image: none !important;
                    content: "\f067";
                    font-family: $font-awesome;
                }
            }

            &:not(.collapsed) {
                color: $black;
                background: transparent;
                border: none;
                box-shadow: none;
            }

            &:focus {
                border: none;
                box-shadow: none;
            }

            &::after {
                content: "\f068";
                transition: $transition;
                font-family: $font-awesome;
                background-image: none !important;
                position: absolute;
                right: -24px;
                font-weight: 300;
                color: $accent-2;
                font-size: clamp(15px, 1.198vw, 40px);
                cursor: pointer;
            }
        }

        .accordion-collapse {
            p {
                margin: 16px 0 0;
            }
        }
    }
}