.hero-banner {
  background: url('../media/backgrounds/hero-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @include media-query(1299px) {
    height: auto;
    background-size: cover;
  }

  @include media-query(490px) {
    background-position: center;
    background-size: cover;
  }

  .social-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $gap-10;

    .icon-1 {
      width: clamp(40px, 2.083vw, 74px);
      height: clamp(40px, 2.083vw, 74px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid $white;
      transition: $transition;

      svg {
        width: clamp(18px, 1.042vw, 40px);
        height: clamp(18px, 1.042vw, 40px);
      }

      &:hover {
        background-color: $white;

        svg {
          path {
            fill: $accent-1;
          }
        }
      }
    }
  }

  .content {
    height: 85vh;

    @include media-query(1199px) {
      height: auto;
    }

    .center {
      h1 {
        text-align: center;
        color: $white;
        font-family: $font-primary;
        font-size: clamp(26px, 4.167vw, 160px);
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        /* 96px */
        letter-spacing: -2.4px;
        text-transform: uppercase;

        @include media-query(580px) {
          letter-spacing: 3px;
        }

        &.stroke-text {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px $white;
        }
      }
    }
  }

  .scroll-down-btn {
    display: flex;
    align-items: center;
    gap: $gap-16;
    transform: rotate(90deg);
    transition: $transition;

    @include media-query(580px) {
      display: none;
    }

    .text {
      text-transform: uppercase;
      flex-shrink: 0;
      transition: $transition;
    }

    svg {
      transition: $transition;

      path {
        transition: $transition;
      }
    }

    &:hover {
      .text {
        color: $accent-1 !important;
      }

      .vr-line {
        svg {
          path {
            stroke: $accent-1;
          }
        }
      }
    }
  }

  .hero-vector {
    margin-top: clamp(20px, 2.5vw, 54px);

    @include media-query(1399px) {
      height: 92vh !important;
    }

    @include media-query(1199px) {
      height: 45vh !important;
    }
  }

  .text-block {
    position: relative;
    top: -15%;

    @include media-query(1399px) {
      top: -22%;
      z-index: 9;
    }
    
    @include media-query(1025px) {
      display: none !important;
    }
  }
}


h2 {
  br {
    @include media-query(420px) {
      display: none;
    }
  }
}

.hero-block {
  left: 5%;

  @include media-query(1399px) {
    left: 7%;
  }

  @include media-query(490px) {
    left: 0% !important;
  }
}