.service-banner-sec {
    background: url('../media/backgrounds/services-detail-bg.jpg') no-repeat;
    background-size: cover;

    .content-block-1 {
        padding: $gap-32;
        border-radius: $br-24;
        background-color: $white;
    }
}
.process-sec{
    .process-block-1{
        padding: $gap-32;
        border-radius: $br-24;
        border: 1px solid $light-gray;
        background-color: transparent;
    }
}