.side-bar {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-24;
        border: 0.5px solid $light-gray;
        border-radius: $br-12;
        padding-left: $gap-16;

        input {
            width: 100%;
            background-color: transparent;
            border: none;
            color: $accent-1;

            &:focus {
                background-color: transparent;
                outline: none;
                border: none;
                color: $medium-black;
            }

            &::placeholder {
                color: $light-gray;
                font-size: clamp(14px, 0.938vw, 36px);
                font-weight: 400;
                line-height: 160%;
            }
        }

        .search-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: clamp(14px, 0.938vw, 36px) clamp(24px, 1.667vw, 64px);
            font-size: clamp(16px, 1.042vw, 40px);
            color: $white;
            font-weight: 300;
            background-color: $accent-2;
            border-top-right-radius: $br-12;
            border-bottom-right-radius: $br-12;
        }
    }

    .border-block {
        border: 0.5px solid $light-gray;
        border-radius: $br-24;
        padding: $gap-32;

        .cus-checkBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $gap-12;

            label {
                display: flex;
                align-items: center;
                gap: 4px;

                &::before {
                    padding-right: 8px;
                }
            }
        }
    }

    .lestest-article {
        .article-1 {
            display: flex;
            align-items: center;
            gap: $gap-16;
        }
    }
    .categories-block {
        display: flex;
        flex-direction: column;
        gap: $gap-16;
        padding: $gap-32;
        border: 1px solid $light-gray;
        border-radius: $br-24;
    }
}


.service-sidebar {
    .categories-block {
        display: flex;
        flex-direction: column;
        gap: $gap-16;
        padding: $gap-32;
        border: 1px solid $light-gray;
        border-radius: $br-24;
    }

    .question-block {
        background-color: $accent-2;
        border-radius: $br-24;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $gap-16;
        padding: $gap-32;
        position: relative;
        overflow: hidden;

        .shape-vector {
            position: absolute;
            top: -4%;
            right: -4%;
        }

        .info-label {
            padding: $gap-8 $gap-12;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: $gap-12;
            background-color: $white;
            border-radius: $br-48;

            .massages-icon {
                width: clamp(24px, 1.667vw, 64px);
                height: clamp(24px, 1.667vw, 64px);
                border-radius: 50%;
                background-color: $accent-1;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: clamp(12px, 0.833vw, 32px);
                    height: clamp(8px, 0.625vw, 24px);
                }
            }
        }
    }
}