/*-------------------------
  Form Styling
-------------------------*/


textarea.form-control {
  min-height: 269px;
  max-height: 150px;

  @media(max-width: 578px) {
    min-height: 225px;
    max-height: 80px;
  }
}

.form-control {
  padding: clamp(10px, 0.833vw, 32px) clamp(12px, 1.25vw, 48px);
  border-radius: $br-12;
  border: 1px solid #92949F;
  background: transparent !important;
  font-family: $font-primary;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: relative;
  color: $light-gray;
  box-shadow: none;

  &:focus {
    background: $white;
    box-shadow: none;
    outline: 0;
    color: $light-gray !important;
  }

  &:hover {
    color: $light-gray !important;
  }

  &::placeholder {
    color: $light-gray !important;
    opacity: 1;
  }

  svg {
    position: absolute;
    top: 16px;
    right: 18px;

    path {}
  }
}

.input-block {
  position: relative;

  svg,
  i {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 16px;
  }
}

input[type="file"] {
  display: none;
}

label {
  &.error {
    color: #ff0000;
  }
}



.cus-checkBox {
  input {
    display: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &::before {
      content: '\f0c8';
      font-family: $font-awesome;
      color: $light-gray;
      font-size: clamp(16px, 1.042vw, 20px);
      font-weight: 300;
    }
  }

  input[type="checkbox"]:checked {
    +label {
      &::before {
        content: '\f14a';
        color: $accent-1;
        font-weight: 600;
      }
    }
  }
}